@tailwind base;
@tailwind utilities;
@tailwind components;


.text-shadow {
    text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.30);
}

#modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}