@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    font-family: "Space Mono", monospace;
}

.font-monoton {
    font-family: 'Monoton', cursive;
}

.font-mont {
    font-family: 'Montserrat', sans-serif;
}

.active-border {
    @apply border-b-4 border-purple-800 pt-1;

    border-bottom-width: 4px;
    padding-top: 4px;
    border-color: rgb(107, 33, 168);
}

.bg-blue-image {
    background-image: url(../Images/Background/Abstract.jpg);
}

.glasomorphism {
    background: rgba(255, 255, 255, 0.09);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(40px);
    border: solid 2px transparent;
    background-clip: padding-box;
    box-shadow: 0px 10px 10px rgba(46, 54, 68, 0.03);
}

#recently-watched-list::-webkit-scrollbar {
    display: none;
}

#recently-watched-list {
    border: none !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
}



.recently-watched {
    @apply mx-2 min-h-[150px] min-w-[300px] rounded-md bg-white text-black transition hover:scale-105;
/* 
    margin-left: 20px;
    margin-right: 20px;
    min-height: 150px;
    min-width: 300px;
    border-radius: 6px;
    background-color: white;
    color: black;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transform: scale(1.10); 
*/
}

.recently-watched-image {
    @apply -z-10 h-full w-full cursor-pointer rounded-md object-cover;

    /* z-index: -10;
    height: 100%;
    width: 100%;
    cursor: pointer;
    border-radius: 6px;
    object-fit: cover; */
}

.text-shadow {
    text-shadow: 1px 6px 4px rgba(0, 0, 0, 0.30);
}

.borderme {
    border: 2px solid white;
}